.card {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-style: solid; 
    border-color: rgb(224, 203, 63); 
    border-radius: 5px;
    padding: 20px;
    height: 550px; 
    align-content: center;
  }
  .card-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }